---
---

.title-text {
  padding-top: 100px;
  margin-top: 0;
  font-weight: 600;
  text-shadow: 1px 3px 0 rgba(0,0,0,0.6);
}

.title-container {
  height: 350px;
  margin-top: 0;
}

nav {
  z-index: 1000;
  ul {
    a {
      font-size: 1.45rem;
    }
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}
