---
---
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.title-text {
  width: 100%;
  font-weight: 600;
  text-shadow: 1px 3px 0 rgba(0, 0, 0, 0.6);
}

.title-container {
  height: 200px;
  margin-top: 0;
}

nav {
  z-index: 1000;
  ul {
    a {
      font-size: 1.45rem;
    }
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.collapsible div.right {
  margin-left: auto;
}

.small-caps {
  font-variant: small-caps;
}
