<footer class="page-footer darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Powered by</h5>

                <p class="grey-text text-lighten-4">Created using <a class="footer-link"
                                                                     href="http://materializecss.com/">Materialize</a>,
                    hosted by <a class="footer-link" href="https://pages.github.com/">GitHub Pages</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Friends</h5>
                <p>
                    <a class="grey-text text-lighten-3" href="#!">Link 1, </a>
                    <a class="grey-text text-lighten-3" href="#!">Link 2, </a>
                    <a class="grey-text text-lighten-3" href="#!">Link 3, </a>
                    <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright lighten-2">
        <div class="container">
            © {{ site.time | date: '%Y' }} {{ site.title }}
        </div>
    </div>
</footer>