<div class="blue darken-3 z-depth-5">
    <div class="center title-container">
        <h1 class="title-text"><a class="white-text" href="/">{{ site.title }}</a></h1>

        <div class="row">
            <a class="waves-effect waves-light btn" href="https://twitter.com/sebyx31"><i class="fa fa-twtr left"></i>Twitter</a>
            <a class="waves-effect waves-light btn" href="https://github.com/sebyx31"><i class="fa fa-github left"></i>GitHub</a>
            <a class="waves-effect waves-light btn" href="https://ch.linkedin.com/in/sebvaucher"><i class="fa fa-lkdn left"></i>LinkedIn</a>

        </div>
    </div>
</div>
<nav class="darken-1" role="navigation">
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="hide-on-med-and-down">
            {% for page in site.pages %}
                {% if page.title %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            {% for page in site.pages %}
                {% if page.title %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
