<nav class="darken-1 hide-on-large-only" role="navigation">
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="side-nav" id="mobile-demo">
            <h5 class="black-text center">Navigation</h5>
            <ul>
            {% assign pages = site.pages | sort: "weight" %}
            {% for p in pages %}
                {% if p.menu == "main" %}
                    <li{% if p.url == page.url %} class="active"{% endif %}>
                        <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<div class="blue darken-3 z-depth-1">
    <div class="center title-container">
        <h1 class="title-text"><a class="white-text" href="/">{{ site.title }}</a></h1>

        <div class="row">
            <a class="waves-effect waves-light btn" href="https://twitter.com/sebyx31"><i class="fa fa-twtr left"></i>Twitter</a>
            <a class="waves-effect waves-light btn" href="https://github.com/sebyx31"><i class="fa fa-github left"></i>GitHub</a>
            <a class="waves-effect waves-light btn" href="https://ch.linkedin.com/in/sebvaucher"><i class="fa fa-lkdn left"></i>LinkedIn</a>

        </div>
    </div>
</div>
<nav class="darken-1 hide-on-med-and-down z-depth-1" role="navigation">
    <div class="nav-wrapper container">
        <ul class="hide-on-med-and-down">
            {% assign pages = site.pages | sort: "weight" %}
            {% for p in pages %}
                {% if p.menu == "main" %}
                    <li class="waves-effect waves-light{% if p.url == page.url %} active{% endif %}">
                        <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
