<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/materialize.css" | prepend: site.baseurl }}" media="screen,projection">
    <link rel="stylesheet" href="{{ "/css/materialdesignicons.css" | prepend: site.baseurl }}" media="screen,projection">
    <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}" media="screen,projection">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="{{ "/favicon.png" | prepend: site.baseurl }}" sizes="32x32" type="image/png"/>
    <link rel="icon" href="{{ "/favicon_192.png" | prepend: site.baseurl }}" sizes="192x192" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="{{ "/favicon_high.png" | prepend: site.baseurl }}" type="image/png"/>
    <meta name="theme-color" content="#1E88E5"/>

    <script type="text/javascript" src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/materialize.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/converse.nojquery.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "/css/converse.min.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/js/init.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="https://stats.vaucher.org/piwik.js" async defer></script>
    <script type="text/javascript" src="{{ "/js/stats.js" | prepend: site.baseurl }}"></script>
</head>
