<div class="blue darken-3 z-depth-1">
    <div class="title-container valign-wrapper">
        <h1 class="valign center title-text"><a class="white-text" href="/">{{ site.title }}</a></h1>
    </div>
</div>
<nav class="darken-1 z-depth-1">
    <div class="center container">
        <a class="waves-effect waves-light btn" href="https://mastodon.vaucher.org/@seb"><i class="mdi mdi-mastodon left"></i><span class="hide-on-small-only">Mastodon</span></a>
        <a class="waves-effect waves-light btn" href="https://twitter.com/sebva31"><i class="mdi mdi-twitter-circle left"></i><span class="hide-on-small-only">Twitter</span></a>
        <a class="waves-effect waves-light btn" href="https://github.com/sebva"><i class="mdi mdi-github-circle left"></i><span class="hide-on-small-only">GitHub</span></a>
        <a class="waves-effect waves-light btn" href="https://ch.linkedin.com/in/sebvaucher"><i class="mdi mdi-linkedin left"></i><span class="hide-on-small-only">LinkedIn</span></a>
    </div>
</nav>
