<div class="row">
    <div class="col s12">
        <div class="row" id="projects-grid">
        {% assign projects = site.projects | sort: "order" %}
        {% for project in projects reversed %}
            <div class="col s12 l6 project-item">
                <div class="card z-depth-1-half blue">
                    <div class="card-image waves-effect waves-block waves-light">
                        <picture class="activator">
                            {% if project.webp != null %}
                            <source type="image/webp" srcset="project-images/{{ project.webp }}">
                            {% endif %}
                            <img class="activator" src="project-images/{{ project.image }}" data-project="{{ project.title | slugify }}" alt="{{ project.title }}">
                        </picture>
                    </div>
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="card-title col s8"><strong>{{ project.title }}</strong></div>
                            <div class="right-align col s4">{{ project.language }}
                                {% for os in project.os %}<i class="mdi mdi-18px mdi-{{ os.icon }}"></i>{% endfor %}<br>
                                {{ project.context }}
                            </div>
                        </div>
                    </div>
                    <div class="card-action blue darken-1">
                        <a href="#" class="activator" data-project="{{ project.title | slugify }}"><i class="mdi mdi-arrow-expand-all"></i> Show details</a>
                        {% if project.github != null %}
                            <a href="{{ project.github }}"><i class="mdi mdi-github-box"></i> See on GitHub</a>
                        {% endif %}
                        <span class="white-text right">{{ project.date | date: "%B %Y" }}</span>
                    </div>
                    <div class="card-reveal" style="padding-bottom: 20px">
                        <span class="card-title black-text waves-effect waves-teal" data-project="{{ project.title | slugify }}">{{ project.title }}&nbsp;
                            <i class="mdi mdi-close right"></i>
                        </span>
                        {{ project.content | markdownify }}
                        {% if project.github != null %}
                            <p><a class="waves-effect btn-flat" href="{{ project.github }}"><i class="mdi mdi-github-circle"></i> See on GitHub</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

